<!DOCTYPE html>

<html lang='en'>
    <head class='background'>
        <title>{% block title %}{% endblock %}</title>
         <!-- Bootstrap core CSS -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/iyrrn20zt5za9ma/styles.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
         <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/iyrrn20zt5za9ma/styles.css"/>

    </head>
    <body class="background">
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="/">Home</a></li>
                    </ul>
                    </nav>
            </div>
            {% block body %}
            {% endblock %}
            <br>
            
        </div>
        <footer class="footer">
                <p>@ 2021 - Zach</p>
        </footer>
    </body>
</html>
<script>
    $(document).ready(function(){
        if(localStorage.getItem("logged_in") == 1){
            $('#hidden_nav').removeClass('hidden');
            $('#hide_me_log').addClass('hidden');
            $('#hide_me').addClass('hidden');

        }
    });
</script>